* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto Condensed', sans-serif; }

body {
  background-image: url(../imagenes2/background.png); }

@media only screen and (max-width: 768px) {
  body {
    background-image: none; } }

.navbar--back__blanco {
  background-color: white; }

.navbar__home {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.header__titulo {
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 30px; }

@media only screen and (max-width: 768px) {
  .header__titulo {
    margin-left: 0px; } }

.header__logo {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
  margin-right: 20px; }

@media only screen and (max-width: 768px) {
  .header__logo {
    margin-left: 0px;
    margin-right: 5px; } }

.nav--item__home {
  margin-left: 30px;
  margin-right: 30px; }

.shake:hover {
  animation: bounce; }

.desplegable {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30%; }

.margin--top__inicio {
  margin-top: 150px; }

@media only screen and (max-width: 768px) {
  .margin--top__inicio {
    margin-top: 110px; } }

.margin--top__inicio2 {
  margin-top: 100px; }

@media only screen and (max-width: 768px) {
  .margin--top__inicio2 {
    margin-top: 70px; } }

.margin--top__ayuda {
  margin-top: 100px;
  background-color: white;
  margin-bottom: 30px; }

@media only screen and (max-width: 768px) {
  .margin--top__ayuda {
    margin-top: 50px;
    margin-bottom: 0; } }

.margin--top__home {
  margin-top: 100px; }

@media only screen and (max-width: 768px) {
  .margin--top__home {
    margin-top: 50px; } }

.order2 {
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 768px) {
  .order2 {
    order: 2;
    text-align: center; } }

.centrar {
  margin: auto;
  background-color: white; }

.boton, .boton--suscripcion, .boton--nosotros, .boton--contacto {
  border-style: solid;
  width: auto;
  color: white;
  border-color: #096DD9;
  text-decoration: none;
  border-radius: 5px;
  line-height: 1.15;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.69px;
  padding: 12px 24px;
  background-color: #096DD9;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block; }

.boton:hover, .boton--suscripcion:hover, .boton--nosotros:hover, .boton--contacto:hover {
  background-color: white;
  color: black;
  text-decoration: none; }

@media only screen and (max-width: 768px) {
  .boton, .boton--suscripcion, .boton--nosotros, .boton--contacto {
    margin-bottom: 30px; } }

.suscripcion {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 80px;
  background-color: white; }

@media only screen and (max-width: 768px) {
  .suscripcion {
    margin-bottom: 0; } }

@media only screen and (max-width: 768px) {
  .boton--suscripcion {
    margin-top: 20px; } }

.div--separador, .div--separador3 {
  background-color: #E6F7FF;
  margin: 30px;
  padding: 30px; }

.div--separador3 {
  margin: 0;
  background-color: #E6F7FF; }

.div--separador__items {
  text-align: left;
  align-items: left; }

@media only screen and (max-width: 768px) {
  .div--separador__items {
    text-align: center;
    align-items: center; } }

.h3--separador, .h3--separador2 {
  text-align: left;
  font-size: 50px;
  align-items: center; }

.h3--separador2 {
  background-color: white; }

.h2--separador, .h2--separador2 {
  color: #096DD9; }

.h2--separador2 {
  background-color: white; }

.img--separador {
  height: 100px;
  width: 100px;
  margin-bottom: 10px; }

@media only screen and (max-width: 768px) {
  .img--separador {
    margin-top: 50px; } }

.p--separador, .p--separador2 {
  text-align: left;
  margin-bottom: 70px; }

@media only screen and (max-width: 768px) {
  .p--separador, .p--separador2 {
    margin-bottom: 15px; } }

.p--separador2 {
  background-color: white; }

.div--separador2 {
  margin: 30px;
  padding: 30px;
  margin-top: 50px; }

.div--separador__items2 {
  text-align: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white; }

.img--separador2 {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px; }

.div--separador__items2:hover {
  transform: translate(-2%, -2%); }

footer {
  background-color: #E6F7FF;
  padding: 30px;
  margin-top: 40px; }

.h1--home {
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 90px;
  font-weight: 900; }

@media only screen and (max-width: 768px) {
  .h1--home {
    margin-top: 0;
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px; } }

.h1--home__cuidados {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 90px;
  font-weight: 900; }

@media only screen and (max-width: 768px) {
  .h1--home__cuidados {
    margin-top: 0;
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 0px; } }

.nav--texto {
  font-size: 20px; }

.nav--texto__colaborar {
  background-color: #096DD9;
  color: white;
  border-radius: 12px; }

.h4--footer__quienes {
  color: #096DD9; }

@media only screen and (max-width: 768px) {
  .h4--footer__quienes {
    margin-top: 20px; } }

.h4--footer__contacto {
  color: #096DD9; }

@media only screen and (max-width: 768px) {
  .h4--footer__contacto {
    margin-top: 10px; } }

.p--footer__cel {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0; }

.p--footer__texto {
  font-weight: lighter; }

.lead2 {
  font-size: 1.50rem;
  font-weight: 300;
  background-color: white; }

.div--footer__links {
  color: #096DD9;
  margin: auto;
  text-align: left; }

@media only screen and (max-width: 768px) {
  .div--footer__links {
    text-align: left;
    display: none; } }

@media only screen and (max-width: 768px) {
  .p--footer__derechos {
    text-align: center; } }

.corazon--footer {
  width: 50px;
  height: 50px;
  padding-bottom: 5px; }

.img--nosotros {
  border-radius: 89px; }

.img--equipo {
  width: 140px;
  height: 140px;
  margin-bottom: 15px; }

.centrar2 {
  text-align: center; }

.margin--top__equipo {
  margin-top: 40px; }

.h3--equipo {
  font-size: 50px; }

.card2 {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }

.margin--top__equipo2 {
  margin-top: 40px; }

.card--titulo {
  padding: 0.75rem 1.25rem;
  margin-top: 10px;
  background-color: none;
  text-align: left; }

.img--li__nosotros {
  margin-right: 20px; }

.align--card__nosotros {
  text-align: left;
  margin-left: 50px;
  margin-top: 30px; }

.boton--nosotros {
  margin: 30px; }

.back--celeste {
  background-color: #E6F7FF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 80px; }

@media only screen and (max-width: 768px) {
  .back--celeste {
    margin-top: 20px; } }

.margin--bottom__inicio {
  margin-bottom: 70px; }

@media only screen and (max-width: 768px) {
  .margin--bottom__inicio {
    margin-bottom: 20px; } }

.p--contacto {
  position: absolute;
  display: block; }

.margin--card {
  margin: 5px; }

.texto--video {
  background-color: #E6F7FF;
  color: #096DD9;
  align-items: center;
  margin: auto; }

.div--video {
  background-color: #E6F7FF;
  padding-top: 10px;
  padding-bottom: 10px; }

.back--form {
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 20px; }

.centrar--form {
  margin: auto;
  padding-top: 30px;
  font-size: 20px; }

.casilla {
  width: 20px;
  height: 20px; }

.label--input {
  margin-left: 10px; }

.h2--colaborar {
  color: #096DD9; }

.h1--colaborar {
  font-size: 90px;
  font-weight: 900; }

.back--celeste__colaborar {
  background-color: #E6F7FF;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 80px; }

.width--donaciones {
  width: 2000px; }

.boton--contacto {
  display: inline-block;
  font-size: 20px;
  margin-top: 30px; }

@media only screen and (max-width: 768px) {
  .boton--contacto {
    font-size: 15px; } }

.boton--contacto:hover {
  background-color: white;
  color: black;
  text-decoration: none; }

.form--contacto {
  font-size: 20px;
  align-items: center;
  margin: auto; }

.h1--contacto {
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 90px;
  font-weight: 900; }

@media only screen and (max-width: 768px) {
  .h1--contacto {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 50px; } }

.animation--transform:hover {
  transform: translate(-2%, -2%); }

.h3--separador__cards {
  text-align: center;
  font-size: 50px;
  margin-top: 10px; }

.icono--gato {
  margin-top: 15px; }

.p--equipo {
  margin-bottom: 50px; }

@media only screen and (max-width: 768px) {
  .h3--tips {
    margin-top: 10px; } }
